body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.logo {
    width: 350px;
    height: 120px;
    margin-top: 0%;
    margin-left: 2%;
}


nav ul {
    display: flex;
    margin-top: 0%;
    margin-left: 0px;
    width: 100%;
}


nav ul li a {
    display: flex;
    align-items: right;
    line-height: 38px;
    margin: 3px;
    padding: 0 22px;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #005192;
    color: #fff;

}

nav ul li a:hover {
    background-color: #006871;
    color: #fff;

}

.navbar-container {
    display: flex;
    align-items: center;
}

.search form {
    display: flex;
    position: absolute;
    align-items: center; 
}

.search input[type="text"] {
    font-size: 1.6em;
    padding: 4px 8px;
    margin: 0; 
    border: 1px solid #ccc;
    border-right: none; 
    font-weight: 25;
    vertical-align: bottom;
    width: 320px;
    height: 45px;
}

.search button {
    background-color: #006871; 
    border: none; 
    cursor: pointer; 
    margin: 0;
    border: 1px solid #ccc;
}

.search button i {
    font-size: 3em; 
    color: white; 
    padding: 5.5px; 
}

.search{
    align-items: left;
    top: 100px;
    right: 450px;
    position: absolute;
    line-height: 30px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 23px; 
    height: 23px; 
    border-radius: 50%; 
    background-color: black; 
    margin-right: 16px; 
}

.social-media a i {
    font-size: 14px; 
    color: white; 
}

.button-container{
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px; 
    right: 80px;
}
    
.dropdown-button {
    margin-right: 5px;
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: transparent;
    color: black;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    padding: 8px 10px;
    border-radius: 2px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}

.dropdown-content a {
    display: inline-block; 
    margin-right: 15px; 
    color: black;
    font-weight: bold;
}

.dropdown-btn:hover {
    text-decoration: underline;
}


.dropdown-button:hover .dropdown-content {
    display: block;
}

.goog-te-gadget-icon {
    display: none;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.main {
    background-color: rgb(255, 255, 255);
    background-blend-mode: multiply;

}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D6E5D8;
    padding: 30px;
    width: 350px;
    margin: auto;
    margin-top: 40px;
}

.log input,
.log select {
    padding: 10px 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-right: 1px;
    padding-left: 1px;
    background-color: #fff;
    border: 1px solid #AA4E0F;
}

.log label {
    color: #005192;
    font-weight: bold;
}

.log button {
    background: #005192;
    color: #fff;
    box-sizing: border-box;
    line-height: 30px;
    min-height: 30px;
    border: none;
    padding: 0 10px;
    margin-top: 15px;
    cursor: pointer;
    width: 100px;
}

.log button:hover {
    background-color: #006871;
    color: #fff;
}


.register-text {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
    color: #005192;
}

.faqs-text {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
    color: #005192;
}

.fp-text {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
    color: #005192;
}
.opt {
    text-align: right;
}

.lr {
    display: flex;
    text-align: left;
    background-color: #D6E5D8;
    color: #005192;
    text-decoration: underline;
    padding: 5px;
    width: 100%;
    margin-left: 43px;
    margin-right: 43px;
    text-align: justify;
}

.faq {
    height: 100%;
}

.faq_answer {
    margin-bottom: 30px; 
}

.faq_question {
    margin-bottom: 20px; 
}


.faq_question {
    font-family: Arial, sans-serif; 
    color: rgb(22, 22, 163); 
    font-size: 18px; 
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer1 {
    border: none;
    padding: 20px 20px 10px 20px;
    min-height: 140px;
    color: #FFF;
    background-color: #666;
    border-radius: 0px 7px 0px 0px;
    margin-top: 10px;
}

.footer2 {
    border: none;
    padding: 20px 20px 10px 20px;
    color: #FFF;
    background-color: #005192;
}

.p1{
    font-size: 1.2em;
}
