body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.logo {
    width: 350px;
    height: 120px;
    margin-top: 0%;
    margin-left: 2%;
}


nav ul {
    display: flex;
    margin-top: 0%;
    margin-left: 0px;
    width: 100%;
}


nav ul li a {
    display: flex;
    align-items: right;
    line-height: 38px;
    margin: 3px;
    padding: 0 22px;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #005192;
    color: #fff;

}

nav ul li a:hover {
    background-color: #006871;
    color: #fff;

}


.main {
    background-color: rgb(255, 255, 255);
    background-blend-mode: multiply;

}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D6E5D8;
    padding: 30px;
    width: 350px;
    margin: auto;
    margin-top: 40px;
}

.log input,
.log select {
    padding: 10px 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-right: 1px;
    padding-left: 1px;
    background-color: #fff;
    border: 1px solid #AA4E0F;
}

.log label {
    color: #005192;
    font-weight: bold;
}

.log button {
    background: #005192;
    color: #fff;
    box-sizing: border-box;
    line-height: 30px;
    min-height: 30px;
    border: none;
    padding: 0 10px;
    margin-top: 15px;
    cursor: pointer;
    width: 100px;
}

.log button:hover {
    background-color: #006871;
    color: #fff;
}


.register-text {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
    color: #005192;
}

.opt {
    text-align: right;
}

.lr {
    display: flex;
    text-align: left;
    background-color: #D6E5D8;
    color: #005192;
    text-decoration: underline;
    padding: 5px;
    width: 100%;
    margin-left: 43px;
    margin-right: 43px;
    text-align: justify;
}

.faq {
    height: 100%;
}

.faq_answer {
    margin-bottom: 30px; 
}

.faq_question {
    margin-bottom: 20px; 
}


.faq_question {
    font-family: Arial, sans-serif; 
    color: rgb(22, 22, 163); 
    font-size: 18px; 
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer1 {
    border: none;
    padding: 20px 20px 10px 20px;
    min-height: 140px;
    color: #FFF;
    background-color: #666;
    border-radius: 0px 7px 0px 0px;
    margin-top: 10px;
}

.footer2 {
    border: none;
    padding: 20px 20px 10px 20px;
    color: #FFF;
    background-color: #005192;
}

.p1{
    font-size: 1.2em;
}